<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.3.0-preview1-24530-04" targetFramework="net462" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net462" />
</packages>